# Python
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data and model artifacts
resources/
*.zip
*.arrow
*.pt
*.bin
*.ckpt
*.h5
*.onnx

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log
